@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600&family=Inter:wght@300;400;500;600;700&display=swap");
@import "tailwindcss";
@import "primeicons/primeicons.css";

/* Class-based dark mode for Tailwind v4 */
@custom-variant dark (&:where(.dark, .dark *));

/* === CSS Variables === */
:root {
  --font-mono: "Fira Code", "Courier New", monospace;
  --font-sans: "Inter", system-ui, sans-serif;

  /* Light mode */
  --bg-primary: #f8fafc;
  --bg-surface: color-mix(
    in oklab,
    var(--color-cyan-500) /* oklch(71.5% 0.143 215.221) */ 5%,
    transparent
  );
  --bg-card: #ffffff;

  --border-color: #0f172a;
  --border-hover: #1d4ed8;

  --text-main: #0f172a;
  --text-muted: #121b31;

  --link-default: #2563eb;
  --link-hover: #1d4ed8;

  /* Status: Success (The "Clean" Scan) */
  --success-main: color-mix(
    in oklab,
    var(--color-emerald-500) 10%,
    transparent
  );
  --success-text: var(--color-emerald-400);

  /* Status: Error (The "Threat" Alert) */
  --error-main: color-mix(in oklab, var(--color-red-500) 10%, transparent);
  --error-text: var(--color-red-400);

  /* Status: Warning (The "Suspicious" Activity) */
  --warning-main: var(--color-amber-400);
  --warning-text: var(--color-amber-500);
}

.dark {
  /* Dark mode */
  --bg-primary: #0f172a;
  --bg-surface: #1e293b;
  --bg-card: #1e293b;

  --border-color: #cbd5e1;
  --border-hover: #1d4ed8;

  --text-main: #fff;
  --text-muted: #eeeeee;

  --link-default: var(--color-cyan-500);
  --link-hover: var(--color-cyan-100);

  /* Status: Success (The "Clean" Scan) */
  --success-main: color-mix(
    in oklab,
    var(--color-emerald-500) 10%,
    transparent
  );
  --success-text: var(--color-emerald-400);

  /* Status: Error (The "Threat" Alert) */
  --error-main: color-mix(in oklab, var(--color-red-500) 10%, transparent);
  --error-text: var(--color-red-400);

  /* Status: Warning (The "Suspicious" Activity) */
  --warning-main: var(--color-amber-400);
  --warning-text: var(--color-amber-500);
}

/* === Global Resets === */
* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: var(--font-sans);
  background-color: var(--bg-primary);
  color: var(--text-main);
  transition:
    background-color 0.2s ease,
    color 0.2s ease;
}

/* === Scrollbar === */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: var(--bg-card);
}

::-webkit-scrollbar-thumb {
  background: var(--link-default);
  border-radius: 3px;
}

/* === PrimeNG Overrides === */
.p-datatable .p-datatable-thead > tr > th {
  background: var(--bg-main) !important;
  border-color: var(--border-color) !important;
  color: var(--text-main) !important;
  font-family: var(--font-mono) !important;
  font-size: 12px !important;
}

.p-datatable .p-datatable-tbody > tr {
  background: var(--bg-card) !important;
  border-color: var(--border-color) !important;
}

.p-datatable .p-datatable-tbody > tr > td {
  border-color: var(--border-color) !important;
  color: var(--text-main) !important;
  font-size: 12px !important;
}

.p-paginator {
  background: transparent !important;
}

.p-tree {
  background: transparent !important;
  border: none !important;
  color: var(--text-muted) !important;
}

.p-tree .p-tree-node-label {
  font-family: var(--font-mono) !important;
  font-size: 0.85rem !important;
}

.p-skeleton {
  background-color: var(--border-color) !important;
}

.p-button-outlined {
  background: transparent;
  border-color: var(--link-default) !important;
  color: var(--link-default) !important;
  transition:
    background-color 0.2s ease,
    color 0.2s ease,
    border-color 0.2s ease;

  &:hover {
    background-color: var(--link-default) !important;
    color: #fff !important;
    border-color: var(--link-default) !important;
  }
}

.p-button-text {
  background: transparent;
  border-color: transparent;
  color: var(--link-default) !important;

  &:hover {
    background-color: var(--bg-surface) !important;
  }
}

.p-inputtext:enabled:focus {
  border-color: var(--border-hover) !important;
}

.p-select-option.p-select-option-selected.p-focus {
  background: var(--bg-surface) !important;
  color: var(--link-hover) !important;
}

.p-select-option.p-select-option-selected {
  background: var(--bg-surface) !important;
  color: var(--link-hover) !important;
}

.p-select:not(.p-disabled).p-focus {
  border-color: var(--border-hover) !important;
}

.p-paginator-page.p-paginator-page-selected {
  background: var(--bg-surface) !important;
  color: var(--link-default) !important;
  border: var(--border-hover) 1px solid !important;
}

.p-paginator-page:not(.p-disabled):not(.p-paginator-page-selected):hover {
  background: var(--bg-surface) !important;
  color: var(--link-hover) !important;
}

/* Monospace for code-like content */
.font-mono {
  font-family: var(--font-mono) !important;
}

/* Link reset */
a {
  text-decoration: none;
  color: inherit;
}

.link {
  color: var(--link-default) !important;
  transition: color 0.2s ease !important;

  &:hover {
    color: var(--link-hover) !important;
    text-decoration: underline !important;
  }
}

.span-accent {
  padding-block: 2px;
  padding-inline: 8px;
  border-radius: 4px;
  background-color: var(--bg-surface);
  font-family: var(--font-mono);
  color: var(--link-default);
  border: var(--border-hover) 1px solid;
}

.span-accent-secondary {
  padding-block: 2px;
  padding-inline: 8px;
  border-radius: 4px;
  background-color: var(--success-main);
  font-family: var(--font-mono);
  color: var(--success-text);
  border: 1px solid var(--success-text);
}

@media (max-width: 1024px) {
  .p-dialog-header {
    justify-content: flex-end !important;

    .p-dialog-title {
      display: none !important;
    }
  }
}
