# This file is used to install the dependencies for the project.
# It is recommended to use a virtual environment to avoid conflicts with other projects.
# You can create a virtual environment using the following command:
# python -m venv venv
# Then activate the virtual environment using the following command:
# Windows: venv\Scripts\activate
# Linux/Mac: source venv/bin/activate
# After activating the virtual environment, you can install the dependencies using the following command:
# pip install -r requirements.txt

# For packaging the application into an executable
pyinstaller>=6.5.0
pyinstaller-hooks-contrib

# For monitoring system resources
psutil==5.9.8

# For making HTTP requests to the API
requests==2.31.0

# For monitoring keyboard and mouse events
pynput==1.8.0 ; platform_system != "linux"

# For copying text to the clipboard
pyperclip==1.11.0 ; platform_system != "linux"

# For colored output in the terminal
colorama==0.4.6

# For macOS menu bar app
rumps==0.4.0 ; platform_system == "Darwin"
pyobjc==12.1 ; platform_system == "Darwin"

# For Windows tray icon app
pystray==0.19.5 ; platform_system == "Windows"
pywin32>=306 ; platform_system == "Windows"

# For taking screenshots
pyscreenshot==3.1
Pillow==10.2.0