# This file is used to install the dependencies for the project.
# It is recommended to use a virtual environment to avoid conflicts with other projects.
# You can create a virtual environment using the following command:
# python -m venv venv
# Then activate the virtual environment using the following command:
# Windows: venv\Scripts\activate
# Linux/Mac: source venv/bin/activate
# After activating the virtual environment, you can install the dependencies using the following command:
# pip install -r requirements.txt

psutil==5.9.8
requests==2.31.0

# For monitoring keyboard and mouse events
pynput==1.8.0 ; platform_system != "linux"

# For copying text to the clipboard
pyperclip==1.11.0 ; platform_system != "linux"

# For colored output in the terminal
colorama==0.4.6

# For taking screenshots
pyscreenshot==3.1
Pillow==10.2.0